<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>Blog NodeJS</title>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>